[package]
name = "avrio_testnet_one"
version = "0.1.1"
edition = "2018"
authors = ["Leo Cornelius <leocornelius019@gmail.com>"]
license = "MIT OR Apache-2.0"
homepage = "http://testnet.avrio.network"
repository = "https://github.com/avrio-project/avrio-core"
readme = "README.md"
description = "Testnet one, aimed at P2P, block and transaction code testing"

[[bin]]
name = "avrio-daemon"
path = "src/daemon/main.rs"

[[bin]]
name = "avrio-wallet"
path = "src/wallet/main.rs"

[dependencies]
log = "0.4"
avrio_core = { path = "../core" }
avrio_database = { path = "../database" }
avrio_config = { path = "../config" }
avrio_p2p = { path = "../p2p" }
avrio_crypto = { path = "../crypto" }
clap = "2.33.0"
ring = "0.16.11"
serde_json = "1"
serde = { version = "1.0", features = ["derive"] }
aes-gcm = "0.5.0"
aead = "0.2.0"
hex = "0.4.2"
text_io = "0.1.8"
avrio_api = { path = "../api" }
fern = { version = "0.6", features = ["colored"] }
chrono = "0.4"
ctrlc = "3.1.8"
avrio_rpc = { path = "../rpc" }
lazy_static = "1.4.0"
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["full"] }
rpassword = "5.0"
rocket = { version = "0.4.7", default-features = true }
bs58 = "0.4.0"